# Maven
target/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

## Eclipse ##
.settings/
.project
.classpath
bin/

### VS Code ###
.vscode
.factorypath
MS.code-workspace

# patch
*.orig
*.rej

#DB
*.db